.oculta{font-size: 0px; margin: 0px; padding: 0px;}
img.logo{max-width: 200px;}


/*Header*/
.header{
    background-color: #FFF;
    float: left;
    width: 100%;
    padding: 15px;
}
.logo{float: left;}
ul.menu{
    list-style: none;
    float: left;
    margin-top: 110px;
}
ul.menu li{
    display: inline;
}
ul.menu li a{
    margin: 8px 32px;
    color: #387cb6;
    /* font-weight: bold; */
    font-size: 16px;
}
ul.menu li a:hover{
    color: #525252;
    text-decoration: none;
}

.titulo{
    font-size: 26px;
}



